.titulo{
    background-color: #563802;
    color: #f0f8ff;
    padding: 10px;
}

h1{
    text-align: center;
}

div{
    background-color:#271a02 ;
    color: #fff;
    padding: 50px;
}

p{
    font-size:22px;
}

.modulos {
    width: 100%;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    
}

ul li{
    line-height: 30px;
    font-size: 20px;
    color: rgb(154, 144, 144);
    padding: 30px;

}